{% extends 'layout.html' %}

{% block title_content %}
    Main Page
{% endblock %}

{% block body_content %}
    <div class="features">
        <h1>Пышный копатыч представляет!</h1>
        <p>Проект выполнен командой молодых энтузиастов. Вот они сверху вниз:</p>
        <p>Васильев Иван Андреевич (https://t.me/monty_42) - вопросы по приложению</p>
        <p>Борисов Иван Дмитриевич (https://t.me/sqz1337) - вопросы по моделям</p>
        <p>Резвых Алексей Дмитриевич</p>
        <p>Уланов Артемий Владимирович</p>
        <p>Иванова Валерия Андреевна</p>
        <button class="btn btn-danger ">Call me may be</button>
    </div>
{% endblock %}
